<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личная страница</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Бложик</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/templates/style.css" rel="stylesheet" type="text/css" />

</head>


<body>
<div class="main">
    <div class="header">
        <div class="header_resize">
            <div class="logo">
                <h1><a href="index.html">Бложик<small>Бессмысленный и беспощадный</small></a></h1>
            </div>
            <div class="clr"></div>
            <div class="menu_nav">
                <ul>
                    <li><a href="http://localhost:8080/signup" methods="get"><span>Авторизация</span></a></li>
                    <li><a href="http://localhost:8080/index" methods="get"><span>Главная страница</span></a></li>
                    <li class="active" ><a href="http://localhost:8080/private" methods="get"><span>Мой профиль</span></a></li>
                    <li><a href="http://localhost:8080/write" methods="get"><span>Добавить пост</span></a></li>
                    <li><a href="http://localhost:8080/support" methods="get"><span>Поддержка</span></a></li>
                </ul>
            </div>

            <div class="clr"></div>
        </div>
    </div>

    {{range .}}
        <div class="content">
            <div class="content_resize">
                <div class="mainbar">
                    <div class="article">
                        <h2><span>{{ .Name }}</span></h2>
                        <div class="clr"></div>
                        <div class="post_content">
                            <div image>
                            <img src="{{.Image}}" alt="Здесь могло быть фото вашего котика">
                            </div>
                            <h3>E-mail: {{.Email}}<br>
                            About me: {{.About}}</h3>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    {{end}}

    <div class="fbg">
        <div class="fbg_resize">

            <div class="col c3">
                <h2><span>Contact</span></h2>
                <p>Если очень надо, стучаться сюда:</p>
                <p class="contact_info"> <span>Address:</span>Какая-то улица, Киев <br/>
                    <span>Telephone:</span> +38-097-777-77-77<br/>
                    <span>E-mail:</span> <a href="#">sacrifw@gmail.com</a> </p>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="footer">
        <div>(с)2020 пороблено в Україні</div>
    </div>
</div>
</body>
</html>